@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

::selection {
  background-color: rgba(126, 116, 192, 0.3);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #28225f;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

::-webkit-scrollbar-track:hover {
  background-color: #1f1a4b;
}

details summary {
  list-style-type: none;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::marker {
  display: none;
}

body {
  font-family: "Mona Sans", sans-serif;
  background-color: #0d1117;
  overflow-x: hidden;
}

#title {
  background: linear-gradient(45deg, #ede9fb, #c398e8, #aa90ed, #ede9fb);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textAnimation 10s linear infinite;
  text-shadow: 0px 4px 40px rgba(109, 96, 193, 0.3);
}

#otherTitle {
  background: linear-gradient(
    89deg,
    #1eff00,
    #22c50d,
    #1dac0a,
    #1e920f,
    #1f8b11,
    #1eff00,
    #22c50d,
    #1dac0a,
    #1e920f,
    #1f8b11
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textAnimation 10s linear infinite;
  text-shadow: 0px 4px 40px rgba(109, 96, 193, 0.3);
}

#plasmaLogoDevelopers {
  animation: spin 100s linear infinite;
}

#imageDeveloper {
  border: 4px solid #dca8ff;
  border-radius: 100%;
  filter: drop-shadow(0px 0px 20px rgba(111, 0, 255, 0.993));
  padding: 5px;
}

#plasmaFooter:hover {
  animation: plasmaFooter 0.1s linear infinite;
}

#buttonGradient {
  filter: drop-shadow(0px 0px 100px rgb(111, 0, 255));
  padding: 5px;
}

#navbar {
  box-shadow: 0px 0px 77.3px 8px rgba(135, 111, 247, 0.37);
}

.no-drag {
  user-select: none;
  -webkit-user-drag: none;
}

#logoPlasmaDocs {
  animation: spin 100s linear infinite;
}

@keyframes plasmaFooter {
  from {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  to {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

@keyframes textAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@media screen and (min-width: 850px) {
  #inputHeader {
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  #imageDeveloper {
    filter: drop-shadow(0px 0px 50px rgba(111, 0, 255, 0.993));
  }
}
